.tooltip-element {
  display: none;
}

.tooltip {
  z-index: 1001;
  pointer-events: none;
  opacity: 0;
  font-weight: 500;
  max-width: 200px;
  text-align: center;
  font-size: 13px;
  transition: opacity .1s ease-out;
}

.tooltip .inner {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 3px 10px;
  color: #fff;
}

.tooltip.hide {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}

.tooltip .inner::after {
  content: "";
  display: block;
  bottom: -10px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent;
  position: absolute;
}

.tooltip.tooltip--left .inner {
  box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 1px;
}

.tooltip.tooltip--left .inner::after {
  right: -10px;
  left: auto;
  bottom: calc(50% - 5px);
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

.tooltip.tooltip--right .inner {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}

.tooltip.tooltip--right .inner::after {
  left: -10px;
  bottom: calc(50% - 5px);
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

.tooltip.tooltip--bottom .inner::after {
  top: -10px;
  bottom: auto;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

@charset "UTF-8";
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
.subhead {
  font-family: "Playfair Display", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 1em auto .2em;
}

.subhead {
  font-style: italic;
  margin-bottom: 3em;
  font-size: 1.3rem;
}

a {
  color: #C0392B;
}

pre,
code {
  font-family: Menlo, Monaco, Courier, monospace;
}

pre,
p {
  margin: 0 0 1.5rem;
}

pre {
  font-size: .9em;
  background-color: #eee;
  border-radius: 3px;
  white-space: pre-wrap;
  color: #444;
  padding: 2rem 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

p code {
  background-color: #eee;
  padding: 1px 4px;
  border-radius: 3px;
  color: #333;
  font-size: .9em;
}

dd {
  font-size: .9em;
  margin: .5rem 0 3rem;
  padding: 0 1rem;
  color: #888;
}

.links {
  display: flex;
  list-style: none;
  padding: 0;
}

.links li:not(:last-child)::after {
  content: '·';
  display: inline-block;
  padding: 0 5px 0 2px;
  color: #aaa;
}